<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <style>
        body {
            font-family: 'Trebuchet MS', sans-serif;
            font-size: 16px;
            color: #111111;
        }

        div.header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #333333;
            color: #ffffff;
        }

        div.title {
            float: left;
        }

        a {
            color: #111111;
        }

        a.title {
            display: block;
            text-align: center;
            text-decoration: none;
            padding: 16px;
            color: #ffffff;
        }

        a.title:hover {
            background-color: #111111;
        }

        a.table {
            display: block;
            padding: 4px 0;
        }

        label.title {
            display: block;
            text-align: center;
            text-decoration: none;
            padding: 16px;
            color: #ffffff;
        }

        div.body {
            padding: 16px;
            margin-top: 48px;
        }

        table {
            width: 100%;
            margin: 16px 0;
        }

        caption {
            padding: 8px 8px;
            text-align: left;
            font-weight: bold;
        }

        tr:nth-child(odd) {
            background-color: #dddddd;
        }

        tr:hover {
            background-color: #cccccc;
        }

        th {
            padding: 4px 8px;
            background-color: #777777;
            color: #ffffff;
            text-align: center;
            font-weight: normal;
        }

        td {
            padding: 4px 8px;
            text-align: center;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            z-index: 1;
            position: absolute;
            width: 200px;
            padding: 4px 0px;
            border-radius: 4px;
            background-color: #111111;
            color: #ffffff;
            text-align: center;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }

        div.grade {
            margin: 16px 0;
            padding: 8px 16px;
            border: solid 1px #dddddd;
            border-radius: 4px;
        }

        label.name {
            display: block;
        }

        label.description {
            display: block;
            color: #444444;
            font-style: italic
        }

        input[type=password] {
            box-sizing: border-box;
            width: 100%;
            margin: 8px 0;
            padding: 8px 16px;
            outline: none;
            border: none;
            border-radius: 4px;
            background-color: #dddddd;
            color: #111111
        }

        input[type=range] {
            box-sizing: border-box;
            width: 100%;
            margin: 16px 0;
            outline: none;
            -webkit-appearance: none;
        }

        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 8px;
            background: #dddddd;
            cursor: pointer;
        }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #dddddd;
        }

        input[type=range]::-webkit-slider-thumb {
            width: 16px;
            height: 32px;
            margin-top: -16px;
            border: none;
            border-radius: 4px;
            background: #444444;
            cursor: pointer;
        }

        input[type=range]::-moz-range-track {
            width: 100%;
            height: 8px;
            background: #dddddd;
            cursor: pointer;
        }

        input[type=range]::-moz-range-thumb {
            width: 16px;
            height: 32px;
            border: none;
            border-radius: 4px;
            background: #444444;
            cursor: pointer;
        }

        input[type=range]::-ms-track {
            width: 100%;
            height: 8px;
            border-width: 16px 0;
            border-color: transparent;
            background: transparent;
            color: transparent;
            cursor: pointer;
        }

        input[type=range]::-ms-fill-lower {
            background: #dddddd;
        }

        input[type=range]:focus::-ms-fill-lower {
            background: #dddddd;
        }

        input[type=range]::-ms-fill-upper {
            background: #dddddd;
        }

        input[type=range]:focus::-ms-fill-upper {
            background: #dddddd;
        }

        input[type=range]::-ms-thumb {
            width: 16px;
            height: 36px;
            border: none;
            border-radius: 4px;
            background: #444444;
            cursor: pointer;
        }

        input[type=submit] {
            box-sizing: border-box;
            width: 100%;
            margin: 8px 0;
            padding: 8px 16px;
            outline: none;
            border: none;
            border-radius: 4px;
            background-color: #444444;
            color: #ffffff
        }

        input[type=submit]:hover {
            background-color: #222222;
        }

        output {
            display: inline-block;
            box-sizing: border-box;
            position: relative;
            left: 50%;
            width: 64px;
            padding: 8px;
            z-index: -1;
            border: none;
            border-radius: 4px;
            background-color: #dddddd;
            text-align: center;
        }

        textarea {
            box-sizing: border-box;
            width: 100%;
            height: 128px;
            padding: 8px 16px;
            resize: none;
            outline: none;
            border: none;
            border-radius: 4px;
            font-family: 'Trebuchet MS', sans-serif;
            font-size: 16px;
            background-color: #dddddd;
            color: #111111;
        }
    </style>

</head>
<body>

    <div class="header">
        <div class="title">
            @if (@ViewBag.AllowNavigation == true)
            {
                <a class="title" href="/Index">Система оценивания Слёта СПбСО</a>
            }
            else
            {
                <label class="title">Система оценивания Слёта СПбСО</label>
            }
        </div>
    </div>

    <div class="body">
        @RenderBody()
    </div>

</body>
</html>
