@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing

<div>
    <NavLink href="/" Match="NavLinkMatch.All">Главная страница</NavLink>
    <NavLink href="/contests">Конкурсы мероприятий</NavLink>
    <NavLink href="/votings">Зрительские голосования</NavLink>
    <NavLink href="/teams">Команды участников</NavLink>
</div>

@Body
