@page "{contestId}/{eventId}"
@model ConventionGradingSystem.Pages.ExpertNotesModel

@{
    ViewData["Title"] = "Комментарии экспертов";
    ViewData["AllowNavigation"] = true;
}

<table>

    <caption>Комментарии экспертов к мероприятию "@Model.ViewModel.EventName" в рамках конкруса "@Model.ViewModel.ContestName"</caption>

    <tr>
        <th>#</th>
        <th>Комментарий</th>
    </tr>

    @foreach (var item in Model.ViewModel.Notes)
    {
        <tr>
            <td>@item.Identifier</td>
            <td>@item.Content</td>
        </tr>
    }

</table>
