@page
@model EventGradingSystem.Pages.LoginModel

@{
    ViewData["Title"] = "Вход в систему";
    ViewData["AllowNavigation"] = false;
}

<label class="name">Приветствуем тебя, важный пирожочек! Подтверди, пожалуйста, что у тебя есть доступ к этой странице</label>

<form method="post">
    <label class="description" for="Secret">Введи, пожалуйста, секретную фразу</label>
    <input type="password" id="Secret" name="Secret"/>
    <input type="submit" value="Подтвердить доступ" />
</form>
