@page "{eventTypeId}/{eventId}"
@model ConventionGradingSystem.Pages.ParticipantNotesModel

@{
    ViewData["Title"] = "Комментарии участников";
    ViewData["AllowNavigation"] = true;
}

<table>

	<caption>Комментарии участников к мероприятию "@Model.ViewModel.EventName" категории "@Model.ViewModel.EventTypeName"</caption>

    <tr>
        <th>#</th>
        <th>Комментарий</th>
    </tr>

	@foreach (var item in Model.ViewModel.Notes)
    {
        <tr>
            <td>@item.Identifier</td>
            <td>@item.Content</td>
        </tr>
    }

</table>
